body {
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;

  font: inherit;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  vertical-align: top;

  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:active {
  color: rgba(255,255,255,0.3);
  box-shadow: 0 3px 0 0 rgba(0,1,1,0.1) inset;
}


.button-pink {
  background-color: #fb565a;
} 

.button-pink:hover,
.button-pink:focus {
  background-color: #e74246;
} 
.button-pink:active {
  background-color: #d7373b;
} 

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
} 
.button-yellow {
  background-color: #efc84a;
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}
.button-yellow:active {
  background-color: #e5a722;
}

.button-grey {
  color: #000000;
  background: #eeeeee;
}
.button-grey:hover,
.button-grey:focus {
  color: #000000;
  background: #dfdfdf;
}
.button-grey:active {
  color: rgba(0,0,0,0.3);
  background: #d5d5d5;;
}


.page-header {
  padding-top: 47px;
  background-color: #eeeeee;
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}


.main-navigation { 
  display: flex;

  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.logo-block {
  width: 160px;
}

.site-navigation,
.basket-block {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 25px;
}

.site-navigation {
  width: 800px;
  padding-right: 20px;
  padding-left: 20px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.site-navigation-item {
  padding-right: 23px;
  padding-left: 23px;
}

.link-current {
  position: relative;
  /*border-bottom: 2px solid #fb565a;*/ 
}

.link-current:after {
 position: absolute;
 content: "";
 width: 100%;
 bottom: -12px;
 left: 0;

 border-bottom: 2px solid #fb565a;
}

.basket-block {
  width: 160px;  
  
  text-align: right;
}

.site-navigation a,
.basket-block a {
  color: #000000;
}

.basket-block a {
  position: relative;
  padding-left: 40px;
}

.basket-block a::before {
  position: absolute;
  content:"";
  width: 15px;
  height: 15px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/cart-icon.svg);
}

.logo-block:not(.logo-current):hover,
.logo-block:focus {
  opacity: 0.8;
}

.logo-block:not(.logo-current):active {
  opacity: 0.3;
}

.main-navigation-link:not(.link-current):hover,
.main-navigation-link:not(.link-current):focus,
.navigation-link-user:hover,
.navigation-link-user:focus {
  color: #fb565a;
}

.main-navigation-link:not(.link-current):active,
.navigation-link-user:active {
  color: rgba(0, 0, 0, 0.3); 
}


.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;
  padding: 8px;

  display: inline-block;
  width: 18px;
  height: 18px;
  
  border-radius: 50%;
  cursor: pointer;
}


.slider-controls i::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider-controls .active::before {
  content: "";
  
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  
  width: 4px;
  height: 4px;
  margin: -4px;
  
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}


.slider-item {
  display: none;
  padding: 68px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;

}

.slider-item:nth-child(1) {
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: 93% 8px;
}

.slider-item:nth-child(2) {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
  background-position: 100% 20px;
}



.slider-title {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;


  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item-buttom {
  width: 240px;
  padding: 18px 10px 14px;
  text-align: center;
  box-sizing: border-box;
}

.products {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.products-item {
  width: 300px;
  margin-right: 60px;
}

.products-item img {
  display: block;
  width: 300px;
  height: 146px;
}

.products-item h2 {
  padding: 0;
  margin-top: 25px;
  margin-bottom: 15px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.products-item p {
  margin: 0;
  padding-right: 40px;
  margin-bottom: 33px;
}

.products-button {

  width: 160px;
  padding: 18px 10px 14px;
  text-align: center;
  box-sizing: border-box;
}

.about-us {
  padding-top: 40px;
  padding-bottom: 48px;
  border-bottom: 2px solid #eeeeee;
}

.about-us-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.studio-info {
  width: 660px;
}

.studio-statistic {
  width: 360px;
}

.studio-info h3,
.studio-statistic h3 {
  margin: 0;

  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.studio-info h3 {
  margin-bottom: 24px;
}

.about-us-caption {
  margin: 34px 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us-text {
  margin: 0;
  margin-bottom: 39px;
}


.about-us-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us-item {
  position: relative;
  list-style: none;
  padding-left: 36px;
  margin-bottom: 24px;
}

.about-us-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  bottom: 50%;
  left: 1px;
  transform: translateY(-50%);
  
  background-color: #fb565a;
}

.studio-statistic h3 {

  margin-bottom: 40px;
  text-align: center;
}

.logo-wrapper {
  margin-bottom: 37px;
}

.logo-wrapper img {
  display: block;
  width: 360px;
  height: 208px;
}

.block-statistic { 
  margin: 0;
  padding: 0;  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.block-statistic li {
 width: 120px;

}

.block-statistic b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
}

.block-statistic sup {
  font-size: 25px;
}

.block-statistic p {
  margin: 0;
  padding-top: 20px;
  margin-bottom: 24px;
  line-height: 18px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 49px 0 34px 0;
  margin: 0;
  border-bottom: 2px solid #eeeeee;
  list-style: none;
}

.clients-list-item {
  position: relative;
  width: 260px;
  text-align: center;
}

.clients-list-item:not(:nth-child(4n+4))::after {
  position: absolute;
  content:"";
  width: 2px;
  height: 52px;
  top: 50%;
  right: -21px;
  transform: translateY(-65%);

  background-color: #eeeeee;

}

.clients-list-link {
  opacity: 0.2;
}

.clients-list-link:hover,
.clients-list-link:focus  {
  opacity: 1; 
}

.clients-list-link:active {
  opacity: 0.7; 
}

.content-wrapper-main {
  margin-bottom: 80px;
}

.map {
  position: relative;
  height: 416px;
  overflow: hidden;

}

.map-image, 
.map-interactive {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.map-image {
  z-index: 5;
  width: 1440px;
  height: 416px;
 
}

.map-interactive {
  z-index: 10;
  width: 1440px;
  height: 416px;
 
}

.map-interactive iframe {
  border: 0;
}

.contacts-wrapper {
  margin-top: 54px;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; 
}

.contacts {
  position: relative;
  z-index: 20;
  width: 320px;  
  padding: 49px 49px 40px 49px;
  box-sizing: border-box;

  background-color: #fff; 
}


.contacts h3 {
  margin-top: 0;
  margin-bottom: 24px; 

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.contacts-text {
 line-height: 18px;
}

.contacts-text a {
  color: inherit;
}

.button-contacts {
  width: 220px;
  padding: 18px 10px 14px;
  margin-top: 22px;
  box-sizing: border-box;
}

.footer-content {
 display: flex;
 justify-content: space-between;
 width: 1160px;
 margin-left: auto;
 margin-right: auto;
 padding: 69px 20px 68px 20px; 
}

.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 260px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button-link:hover,
.social-button-link:focus {
  background-color: #e74246;
}

.social-button-link:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-social a {
  color: inherit;
}

.footer-discount {
  width: 760px;
}

.footer-discount-title {
  
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer-discount-text {
  line-height: 24px;
}

.footer-discount p {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* страница каталога*/

.wellcome-wrapper {
  padding: 68px 40px 108px;
} 

.wellcome-wrapper h1 {
  margin: 0;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.catalog {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 60px;
}

.catalog-filter {
  width: 300px;
}

.catalog-form {
  width: 260px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.filter-item-price legend {
  margin-bottom: 48px;
}

.filter-item-price {
  margin-bottom: 54px;
}

.range-controls {
 position: relative;
 margin-bottom: 14px;
 padding: 39px 18px;

 background-color: #eeeeee;
 border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  width: 70%;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.price-controls label {
  display: block; 
  width: 50%;
  line-height: 22px;
  text-transform: uppercase; 

  
}

.price-controls input {
  width: 80px;
  height: 36px;

  margin-left: 9px;
  background-color: #eeeeee;
  line-height: 22px;
  text-transform: uppercase; 
  text-align: center;
  border: none;
  border-radius: 3px; 
}

.price-controls .max-price {
  text-align: right;
}

.filter-item-grid {
  margin-bottom: 25px;
}

.filter-item-grid legend,
.filter-item-features legend {
  margin-bottom: 16px;
}

.filter-item ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.filter-item li {
 margin-bottom: 20px;
}

.filter-input-block label { 
  position: relative;
  display: block;
  padding-left: 36px; 
  line-height: 20px; 
  cursor: pointer;
}


.filter-item-features {
  margin-bottom: 28px;
}

.filter-input-radio + label::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px; 
  background-image: url(../img/radio-off.svg); 
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}
.filter-input-radio:checked + label::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px; 
  background-image: url(../img/radio-on.svg); 
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:hover + label::before  {
  background-image: url(../img/radio-off.svg); 
  opacity: 1.0;
}


.filter-input-radio:checked:hover + label::before {
  background-image: url(../img/radio-on.svg); 
  opacity: 1.0;
}



.filter-input-radio:disabled + label::before {
  background-image: url(../img/radio-off.svg); 
  opacity: 0.3;
}

.filter-input-radio:checked:disabled + label::before {
  background-image: url(../img/radio-on.svg); 
  opacity: 0.3;
}

.filter-input-radio:disabled + label {
  opacity: 0.3;
  cursor: default;
}

.filter-input-checkbox + label::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 23px; 
  background-image: url(../img/checkbox-off.svg); 
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 27px;
  height: 23px; 
  background-image: url(../img/checkbox-on.svg); 
  opacity: 0.4;

}

.filter-input-checkbox:hover + label::before  {
  background-image: url(../img/checkbox-off.svg); 
  opacity: 1.0;
}


.filter-input-checkbox:checked:hover + label::before {
  background-image: url(../img/checkbox-on.svg); 
  opacity: 1.0;
}



.filter-input-checkbox:disabled + label::before {
  background-image: url(../img/checkbox-off.svg); 
  opacity: 0.3;
}

.filter-input-checkbox:checked:disabled + label::before {
  background-image: url(../img/checkbox-on.svg); 
  opacity: 0.3;
}

.filter-input-checkbox:disabled + label {
  opacity: 0.3;
  cursor: default;
}

.button-show {
 width: 260px;
 padding: 18px 10px 14px;
 
 box-sizing: border-box;
}

.catalog-content {
  width: 760px;
}

.sort {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 54px;
}

.sort b {
  width: 360px;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.sort-wrapper {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;

 width: 360px;
}


.sort-list,
.sort-icon {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.sort-list {
  width: 300px;
}

.sort-icon {
  width: 45px;
  text-align: right;
}

.sort-list li 
{
  display: inline-block;
  vertical-align: top;
  padding-right: 22px;
}

.sort-icon li {
  display: inline-block;
  vertical-align: top;
}

.sort-icon li:last-child {
  padding-left: 15px;
}

.sort-item { 
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(0,0,0,0.3);
}

.sort-item:hover:not(.sort-item-active),
.sort-item:focus {
  color: rgba(0,0,0,0.6);
}

.sort-item-active,
.sort-item:active {
  color: #000000;
}


.sort-icon-up path,
.sort-icon-down path {
  fill:  rgba(0,0,0,0.3);
}

.sort-icon-up:hover:not(.sort-icon-active) path,
.sort-icon-down:hover:not(.sort-icon-active) path {
  fill: rgba(0,0,0,0.6);
}

.sort-icon-active path,
.sort-icon-up:active path,
.sort-icon-down:active path {
  fill: #010101;
}

.catalog-list {
 margin: 0;
 padding-left: 0;
 padding-bottom: 27px;
 display: flex;
 justify-content: space-between;
 
 flex-wrap: wrap;

 list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 33px;
  border-top: 40px solid rgba(77,77,77,0.12);
  border-radius: 3px; 
}

.catalog-item:hover,
.catalog-item:focus {
  border-top-color: #4d4d4d;
  box-shadow: 0px 6px 15px 0px rgba(0,1,1,0.25);

}

.catalog-item:hover .catalog-item-description,
.catalog-item:focus .catalog-item-description {
  opacity: 1;
}

.catalog-item::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: 16px;
  top: -27px; 
  
  background-color: #fff;
  box-shadow: 23px 0 0 #fff, 46px 0 0 #fff;
}

.catalog-item-image {
  display: block;
  width: 360px;
  height: 576px;
}

.catalog-item-description {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  min-height: 231px;
  width: 100%;
  padding: 26px 60px 43px;
  box-sizing: border-box;
  text-align: center;
  background-color: #eeeeee;
  opacity: 0;
}

.catalog-item-description h3 {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.catalog-item-description p {
  line-height: 18px; 
}

.button-price {
  width: 200px;
  padding: 18px 10px 14px;
  margin-top: 14px;
  box-sizing: border-box;
}

.catalog-pagination {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
  margin: 0;

  list-style: none;
}

.pagination-item:not(:last-child) {
 width: 50px;
 margin-right: 11px;
}

.pagination-item:last-child {
 width: 260px;
}

.button-pagination {
  color: #000000;
  background: #eeeeee;
}


.button-pagination-current,
.button-pagination-current:hover  {
  background-color: #ffffff;
  box-shadow: inset 3px 3px 0 #dbdbdb, inset -3px -3px 0 #dbdbdb;
  cursor: default;
  color: #000000;
}

.button-pagination {
  width: 50px;
  padding: 18px 10px 14px;
  box-sizing: border-box;
}

.button-pagination-next {
 width: 260px; 
 padding: 18px 20px 14px;
 box-sizing: border-box;
}


.form-feedback {
  position: fixed; 
      visibility: hidden;
      z-index: 100;
  width: 960px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  padding: 69px 100px 84px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
} 


.form-feedback-caption {
  margin-top: 0;
  margin-bottom: 42px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.form-feedback-row {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 34px;

}

.form-feedback-column {
  width: 360px;
}

.form-feedback-row label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.form-feedback-text {
  
 width: 100%;
 padding: 14px;

 font: inherit;
 font-size: 16px;
 line-height: 18px;
 color: rgba(68,68,68,0.5);

 border: 2px solid #d7dcde;
 border-radius: 3px;
 box-sizing: border-box;
}

.form-feedback-text:hover {
  border-color: #b4b9bb;
}

.form-feedback-text:focus {
  color: #444;
    border-color: #000;
    outline: 0;
}
.form-feedback-message {
  min-height: 119px;
  resize: vertical;
}

.form-row-message {
  flex-direction: column;
  margin-bottom: 47px;
} 

.button-form-feedback {
  width: 260px;
  padding: 18px 10px 14px; 
  box-sizing: border-box;
}

.feedback-close {
  position: absolute; 
  top: 78px;
  right: 88px;
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: transparent;
  border: none;

  cursor: pointer; 
 opacity: 0.3;
 
}


.feedback-close:before,
.feedback-close:after {
  position: absolute;
  content: "";  
    width: 5px;
  height: 25px;
  top: 0;
  right: 10px;
 

  background-color: #fb565a;
}


.feedback-close:before { 
   transform: rotate(45deg);
}

.feedback-close:after { 
  transform: rotate(-45deg);
}

.modal-show {
  display: block;
  visibility: visible;
  animation: bounce 0.6s;
}

.modal-close {
  display: none;
}

@keyframes bounce {
  0% {
    transform: translate(-200%,-50%);
  }

  
  100% {
    transform: translate(-50%,-50%);
    visibility: visible;
  }
}



@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}
